* {
    margin: 0px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 90vh;
}

button {
    color: coral;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 7px 12px;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: coral;
    color: black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    cursor: default;
    min-width: 40vw;
    max-width: 90vw;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

thead > tr > th {
    background: darkblue;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
    transition: 0.1s;
}

tbody tr:nth-child(even):hover {
    background-color: gray;
}