* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

aside {
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 10px;
    min-width: 20%;
}

main {
    min-height: 100vh;
    min-width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}